<input type="text" #user value="content">
<h3 [style.color] = 'color == "green" ? "grey" : "green"'>{{title}} </h3>
<p >{{ 6 == 2*3}}</p>
<button (click)='changeColor()'>Click</button>
<input type="text" #testName [value] = 'username' (keyup) = 'updateUserDetails(testName.value)'>
<div>{{username}}</div>

<div>
    <input type="text" 
        [value] = 'username' 
        (keyup.enter) = 'updateUserDetails($event.target.value)'
        (blur) = 'changeInUserDetails($event.target.value)'
    >
    <input type="text" [(ngModel)] = 'username'>
</div>
<select >
    <option *ngFor= 'let colorVal of arr'>{{colorVal}}</option>
</select>